/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@500&display=swap');

:root {
    --light-pink: #ffccd2;
    --peach: #FFEDED;
    --light-brown: #B3541E;
    --dark-brown: #362222;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

html, body {
    height: 100%;
    background-color: rgb(199, 204, 209);
    margin: 0 80px;

}

.container {
    height: 100%;
}

.sidebar {
    height: 100%;
    position: fixed;
    z-index: 10;
    float: left;
    width: 180px;
    background-color: rgb(0, 0, 0);

}

.sidebar-item {
    margin-top: 50px;

}

.content {
    /* height: auto; */
    margin-left: 180px;
    background-color: rgb(234, 239, 245);

}

.content-header {
    display: flex;
    position: relative;
}

.icon-phone {
    height: 20px;
}

.icon-medic {
    margin-right: 20px;
    height: 50px;
}

.title-image, .title-location {
    margin: 20px 0 20px 100px;
}

p {
    color: var(--light-brown);
    font-size: 1.8em;
}

.extra-info-container {
    margin-left: 100px;
}

.extra-info-container p {
    color: red;
    font-size: 1.2em;

}

.extra-info-container li {
    font-size: 0.9em;

}

.extra-info-container div {
    margin-bottom: 20px;
}

.image-container {
    border: 5px solid var(--dark-brown);
    margin: 0 550px 0 100px;
    padding: 10px;
    width: 50em;
}

.image-display {
    height: 300px;
    width: 50em;
    margin-bottom: 6px;
}

.image-list-container {
    display: flex;
    justify-content: space-between;
}

.image-list {
    height: 90px;
    width: 140px;
}

.location-map {
    width: 400px;
    border: 5px solid var(--dark-brown);
    margin: 20px 0 20px 100px;
    padding: 20px;

}

header {
    padding: 20px 40px;
    background-color: var(--light-pink);
}

h1 {
    padding-top: 5px;
}

a {
    text-decoration: none;
}

hr {
    margin: 20px 40px;
}


.footer-bottom {
    background: #000;
    /* width: 100vw; */
    padding: 20px;
    /* padding-left: 200px; */
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: right;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: var(--light-pink);
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    --c: var(--peach);
    color: var(--c);
    font-size: 14px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 10em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}